<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Comment Section</h1>
        <p>add comments to any page on the web ...</p>
    </div>

    You entered the following ..<br>

    Eamil: <%= url %><br>
    Comments: <br> <%= coms %>

<%- include('bootfooter') -%>
